
<div class="wrapper">
    <div class="box">
        <h2 class="p-2 primaryColor text-center ">Howdy <%= name %>😍</h2>
        <div class="circle">
        <img id="pimg" src="<%= image %>" alt="" referrerpolicy="no-referrer">
        </div>
        <div style="margin:10px auto" class="w-25" >
            <a href="/auth/logout">
                <button class="btn w-100">
                Logout
                </button>
            </a>
        </div>
       
     
    </div>
</div>